<h1>Ejercicio 01 Lab IV Rodolfo Solari</h1>

<label>Edad Uno:  </label>
<input type="number" id="textEdadUno" [(ngModel)]="this.edadUno" >
<br> <br>

<label>Edad Dos:  </label>
<input type="number" id="textEdadDos" [(ngModel)]="this.edadDos">
<br> <br>

<input type="button" (click)="this.calcular()" value="Calcular Suma">
<label> {{this.suma}}</label>

<br> <br>

<input type="button" (click)="this.CalcularPromedio()" value="Calcular Promedio">

<label>   {{this.promedio}}</label>

<br> <br>

<label *ngIf="this.Mostrar()">
  Error, no se puede realizar la suma y promedio, ingrese valores numericos
</label>
<br> <br>

<input type="button" (click)="this.limpiar()" value="Limpiar">
